body {
    background-color: #ffffff;
    font-family: 'Assistant', sans-serif;
    color: #05432B;
}

//Navbar
.navbar-brand {
    img {
        max-height: 40px;
    }
}

.navbar-light {
    z-index: 1;
    position: relative;

    .navbar-nav {
        .nav-link {
            color: #05432B;

            &.active {
                font-weight: bold;
                color: #05432B !important;
            }
        }
    }
}

.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;
    height: 70px;
    border-radius: 0;
}

.btn-login {
    background-color: #05432B;
    color: #ffffff;

    &:hover {
        background-color: #08A569;
        color: #ffffff;
    }
}

//Header
header {
    padding: 180px 0px 165px;
    margin-top: -70px;
    background-image: url('../images/header.jpg');
    background-size: cover;

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        position: absolute;
        bottom: 0px;
        margin-bottom: 30px;
    }

    .latar {
        z-index: 1;
        position: relative;
    }

    h1,
    p {
        color: #ffffff;
    }

    h1 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 50px;
    }

    p {
        font-size: 22px;
    }

    .btn-get-started {
        background-color: #FB9B3D;
        color: #ffffff;

        &:hover {
            background-color: #F8820E;
            color: #ffffff;
        }
    }
}

//Statistik
.section-stats {
    margin-top: -50px;

    .stats-detail {
        padding-top: 15px;
        background-color: #ffffff;
        padding-left: 40px;
    }

    h2 {
        font-size: 30px;
        margin-bottom: 0px;
    }

    p {
        font-size: 20px;
        font-weight: lighter;
    }
}

//Wisata Popular
.section-popular {
    min-height: 540px;
    background-color: #05432B;
    margin-top: -50px;
    margin-bottom: -230px;

    .section-popular-heading {
        margin-top: 150px;
    }

    h2,
    p {
        color: #ffffff;
    }

    h2 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }
}

.section-popular-content {
    .section-popular-travel {
        .card-travel {
            min-height: 380px;
            background-color: #000000;
            color: #ffffff;
            padding: 30px;
            background-size: cover;
            margin-bottom: 20px;
        }
    }

    .travel-country {
        font-size: 18px;
        color: #ffffff;
    }

    .travel-location {
        font-size: 26px;
        color: #ffffff;
    }

    .btn-travel-details {
        background-color: #FB9B3D;
        color: #ffffff;

        &:hover {
            background-color: #F8820E;
            color: #ffffff;
        }
    }
}

//Networks
.section-networks {
    background-color: #ffffff;
    margin-top: -170px;
    padding-top: 240px;
    padding-bottom: 50px;

    h2 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }

    img {
        max-width: 100%;
    }
}

//Testimonials Header
.section-testimonial-heading {
    background: linear-gradient(#fff 0%, #f7f9ff 100%);
    padding-top: 50px;
    min-height: 506px;

    h2 {
        font-family: "Playfair Display", serif;
        font-weight: bold;
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }
}

//TEstimonials Content
.section-testimonial-content {
    margin-top: -300px;
    padding-bottom: 50px;

    .card-testimonial {
        padding: 40px 20px 10px;
        border-radius: 11px;
        margin-bottom: 20px;
    }

    .testimonial-content {
        min-height: 380px;
    }

    h3 {
        font-size: 22px;
    }

    .testimonial {
        font-weight: 200;
        font-size: 26px;
        color: #6e6e6e;
        min-height: 160px;
    }

    .trip-to {
        font-weight: normal;
        font-size: 22px;
        color: #6e6e6e;
    }

    hr {
        margin-left: -20px;
        margin-right: -20px;
    }

    .btn-get-started {
        background-color: #FB9B3D;
        color: #ffffff;

        &:hover {
            background-color: #F8820E;
            color: #ffffff;
        }
    }

    .btn-need-help {
        background-color: #DCDCDC;
        color: #fafafa;

        &:hover {
            background-color: #F2F2F2;
            color: #fafafa;
        }
    }
}

//Footer
.section-footer {
    a {
        color: #05432B;
    }
}

//Details Header
.section-details-header {
    min-height: 310px;
    background: #E4E6EB;
    margin-top: -68px;
}

//Details Content
.section-details-content {
    margin-top: -210px;
    min-height: 100vH;

    .breadcrumb {
        background-color: transparent;
        padding: 0;
        margin-bottom: 30px;
    }

    .breadcrumb-item {
        &.active {
            font-weight: bold;
            color: #05432B;
        }
    }

    .card-details {
        padding: 30px;
        border-radius: 11px;

        h1 {
            font-size: 26px;
            font-weight: bold;
        }

        h2 {
            font-size: 20px;
        }

        h3 {
            font-weight: 300;
            font-size: 14px;
            color: #05432B;

        }

        p {
            font-size: 18px;
            color: #B1B1B1;
        }

        .attendee {
            .table {
                color: #05432B;
            }
        }

        .trip-information {
            th {
                font-weight: 300;
                font-size: 18px;
                color: #05432B;
            }

            td {
                font-weight: 300;
                font-size: 18px;
                color: #B1B1B1;
            }

            .text-green {
                font-weight: bold;
                color: #05432B;
            }

            .text-orange {
                font-weight: bold;
                color: #F8820E;
            }
        }

        .payment-instructions {
            font-weight: 300;
            font-size: 14px;
            color: #B1B1B1;
        }

        .bank {
            .bank-item {
                h3 {
                    font-size: 18px;
                    color: #05432B;
                    margin-bottom: 0;
                }

                p {
                    margin-bottom: 0;
                }

                .descriptions {
                    margin-left: 10px;
                    overflow: hidden;
                    float: left;

                    p {
                        font-weight: normal;
                        font-size: 16px;
                        color: #05432B;

                    }
                }
            }

            .bank-image {
                width: 45px;
                height: 45px;
                float: left;
            }
        }

        .disclaimer {
            font-weight: 300;
            font-size: 14px;
            color: #B1B1B1;
        }

        .gj-datepicker {
            .datepicker {
                border-right: 0;
            }

            .input-group-append {
                .btn {
                    padding-right: 30px;
                }
            }
        }

        .btn-add-now {
            background-color: #05432B;
            color: #fff;

            &:hover {
                background-color: #08A569;
                color: #ffffff;
            }
        }

    }

    .card-right {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom: 0;
    }

    .features {
        margin-top: 20px;

        h3 {
            font-size: 18px;
            color: #05432B;
            margin-bottom: 0;
        }

        p {
            margin-bottom: 0;
        }

        .description {
            margin-left: 10px;
            overflow: hidden;
            float: left;
        }

        .features-image {
            width: 45px;
            height: 45px;
            float: left;
        }
    }

    .gallery {
        .xzoom-container {
            display: block;

            .xzoom {
                width: 100%;
                box-shadow: none;
                margin-bottom: 10px;
            }

            .xactive {
                border: 4px solid #00C177;
                box-shadow: none;
            }
        }
    }

    .member {
        .member-image {
            width: 40px;
            height: 40px;
        }
    }

    .join-container {
        margin-top: -16px;
    }

    .btn-join-now {
        background-color: #FB9B3D;
        color: #fff;
        border-radius: 0;

        &:hover {
            background-color: #F8820E;
            color: #ffffff;
        }
    }
}

//Success Checkout
.section-success {
    height: 90vh;

    h1 {
        font-weight: 600;
        font-size: 26px;
        color: #05432B;
    }

    p {
        font-weight: 300;
        font-size: 18px;
        color: #B1B1B1;
    }

    .btn-homepage {
        border-radius: 4px;
        background-color: #05432B;
        color: #fff;

        &:hover {
            background-color: #08A569;
            color: #fff;
        }
    }
}